<?xml version="1.0" encoding="UTF-8"?>
<web-app id="WebApp_ID" version="2.4"
	xmlns="http://java.sun.com/xml/ns/j2ee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xsi:schemaLocation="http://java.sun.com/xml/ns/j2ee http://java.sun.com/xml/ns/j2ee/web-app_2_4.xsd">
	<display-name>Hello Java</display-name>
	<servlet>
		<servlet-name>Hello</servlet-name>
		<servlet-class>com.jd.samples.HelloServlet</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>Hello</servlet-name>
		<url-pattern>/hello</url-pattern>
	</servlet-mapping>
	
	<servlet>
		<servlet-name>WX</servlet-name>
		<servlet-class>com.jd.samples.WXServlet</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>WX</servlet-name>
		<url-pattern>/wx</url-pattern>
	</servlet-mapping>
	
	<servlet>
		<servlet-name>SQL</servlet-name>
		<servlet-class>com.jd.samples.SQLServlet</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>SQL</servlet-name>
		<url-pattern>/sql</url-pattern>
	</servlet-mapping>
</web-app>
